.question-loader {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 8vw;
    height: 8vw;

    border-radius: 50%;
    border: 1vw solid #5f3dc4;
    border-top: 1vw solid transparent;

    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}